.respone {
  background-color: #282b2e;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.copy-btn {
  border: none;
  color: white;
  background-color: #282b2e;
  width: 100px;
  font-size: 15px;
}
pre {
  border-top: 1px solid white;
}
